---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/mary-watkins/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Mary Watkins</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Wife of <a href="james-watkins">Jim</a>. Mother of <a href="dorothy-watkins">Dotti</a>, <a href="rebekah-watkins">Rebekah</a>, <a href="james-watkins-2">Jay</a>, <a href="allison-watkins">Allison</a>, and <a href="bryan-watkins">Bryan</a>. Daughter of <a href="francis-thomas">Frank</a> and <a href="lois-thomas">Lois</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<img src="/images/mary-watkins/01.jpg">
			</div>
		</div>
	</div>

</section>
