<% wrap_layout :site_layout do %>

	<nav id="header">
		<div id ="navigation" class="flex container">
			<div class="col-12">
				<div class="padded">
					<h3><a href="frank-thomas">Frank</a> and <a href="lois-thomas">Lois</a></h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Children</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="maureen-thomas-murphy">Maureen</a> and <a href="michael-murphy">Michael</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="joan-lame">Joan</a> and <a href="charles-lame">Charlie</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="barbara-seago">Barb</a> and <a href="ronald-seago">Ron</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="mary-watkins">Mary</a> and <a href="jim-watkins">Jim</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="dorothy-hunter">Dorothy</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="joseph-thomas">Joe</a> and <a href="tracy-thomas">Tracy</a></h3>
				</div>
			</div>
			<div class="col-3 right-3">
				<div class="padded">
					<h3><a href="theresa-goebel">Theresa</a> and <a href="anthony-goebel">Tony</a></h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Grandchildren</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="shannon-thomas">Shannon</a> and <a href="hans-gerwitz">Hans</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="timothy-seago">Tim</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="dorothy-watkins">Dotti</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="rebekah-watkins">Rebekah</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="erica-wade">Erica</a> and Daniel</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="thomas-seago">Tom</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="nicholas-morris">Nick</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="olivia-murphy">Olivia</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="anthony-seago">Tony</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="james-watkins">James</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="caleb-stombaugh">Caleb</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="eric-morris">Eric</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="allison-watkins">Allison</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="tyler-seago">Tyler</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="david-stombaugh">David</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="bryan-watkins">Bryan</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="jenna-stombaugh">Jenna</a></h3>
				</div>
			</div>
			<div class="col-3 right-6">
				<div class="padded">
					<h3><a href="kaitlyn-thomas">Kaitlyn</a></h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Great Grandchildren</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Stephen</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Sloane</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Matthias</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Christopher</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Kolton</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Elijah</h3>
				</div>
			</div>
			<div class="col-3 right-3">
				<div class="padded">
					<h3>Paisley</h3>
				</div>
			</div>
		</div>
		<div class="trigger"></div>
	</nav>

	<script>
		$("#header .trigger").on("click", function() {
			$("#header").toggleClass("open");
		});
	</script>

<%= yield %>
<% end %>
