<% wrap_layout :site_layout do %>

	<nav id="header">
		<div id ="navigation" class="flex container">
			<div class="col-12">
				<div class="padded">
					<h3><a href="/francis-thomas/">Frank</a> and <a href="/lois-thomas/">Lois</a></h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Children</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Maureen and Michael</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Joan and Charlie</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Barb and Ron</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Mary and Jim</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Dorothy</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Joe and Tracy</h3>
				</div>
			</div>
			<div class="col-3 right-3">
				<div class="padded">
					<h3>Theresa and Tony</h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Grandchildren</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3><a href="/shannon-thomas/">Shannon</a> and <a href="/hans-gerwitz/">Hans</a></h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Tim</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Dotti</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Rebekah</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Erica and Daniel</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Tom</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Nick</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Olivia</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Tony</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>James</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Caleb</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Eric</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Allison</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Tyler</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>David</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Bryan</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Jenna</h3>
				</div>
			</div>
			<div class="col-3 right-6">
				<div class="padded">
					<h3>Kaitlyn</h3>
				</div>
			</div>

			<div class="col-12">
				<div class="padded">
					<h2>Great Grandchildren</h2>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Stephen</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Sloane</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Matthias</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Christopher</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Kolton</h3>
				</div>
			</div>
			<div class="col-3">
				<div class="padded">
					<h3>Elijah</h3>
				</div>
			</div>
			<div class="col-3 right-3">
				<div class="padded">
					<h3>Paisley</h3>
				</div>
			</div>
		</div>
		<div class="trigger"></div>
	</nav>

	<script>
		$("#header .trigger").on("click", function() {
			$("#header").toggleClass("open");
		});
	</script>

<%= yield %>
<% end %>
