---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/lois-thomas/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Lois Jean (Votruba) Thomas</h1>
						<h2>December 22, 1928</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="relationships" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="padded">
					<p>Wife of <a href="frank-thomas">Frank</a>.</p>
					<p>Mother of <a href="maureen-thomas-murphy">Maureen</a>, <a href="joan-lame">Joan</a>, <a href="barbara-seago">Barb</a>, <a href="mary-watkins">Mary</a>, <a href="dorothy-hunter">Dorothy</a>, <a href="joe-thomas">Joe</a>, and <a href="theresa-goebel">Theresa</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
	</div>

</section>
