---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/allison-watkins/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Allison Watkins</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Daughter of <a href="mary-watkins">Mary</a> and <a href="james-watkins">Jim</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
	</div>

</section>
