---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/shannon-thomas/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="centered padded">
						<h1>Shannon E. Thomas</h1>
						<h2>January 23, 1984</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="relationships" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Wife of <a href="hans-gerwitz">Hans</a>. Daughter of <a href="joan-lame">Joan</a> and <a href="charles-lame">Charlie</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<p>I am an <a href="http://www.shannonethomas.com">artist</a> and founder of <a href="http://www.theartificial.nl">The Artificial</a>, a boutique UX design agency in Amsterdam.</p>
			</div>
		</div>
	</div>



</section>
