---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/hans-gerwitz/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="centered padded">
						<h1>Hans Gerwitz</h1>
						<h2>March 9, 1974</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Husband of <a href="shannon-thomas">Shannon</a>. Son-in-law of <a href="joan-lame">Joan</a> and <a href="charles-lame">Charlie</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded extra-vertical">
				<p>I am a founder of <a href="http://www.theartificial.nl">The Artificial</a>, a boutique UX design agency in Amsterdam.</p>
			</div>
			<div class="padded">
				<img src="/images/hans-gerwitz/01.jpg" alt="hans and kurt">
			</div>
		</div>
	</div>



</section>
