---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/nicholas-morris/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="centered padded">
						<h1>Nicholas Morris</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Son of <a href="theresa-goebel">Theresa</a> and Steve.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
	</div>



</section>
