---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/dorothy-hunter/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Dorothy Hunter</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Mother of <a href="erica-wade">Erica</a>, <a href="caleb-stombaugh">Caleb</a>, <a href="david-stombaugh">David</a>, and <a href="jenna-stombaugh">Jenna</a>. Daughter of <a href="francis-thomas">Frank</a> and <a href="lois-thomas">Lois</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<img src="/images/dorothy-hunter/01.jpg" alt="Dorothy and Frank">
			</div>
		</div>
	</div>

</section>
