---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="hero bleed" style="background-image: url('/images/dorothy-hunter/hero.jpg');">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="padded">
						<h1>Dorothy Hunter</h1>
						<h2>April 20, 1964</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-6">
				<div class="parents">
					<div class="label">
						<div class="padded">
							<p>Parents</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li><a href="/francis-thomas/">Francis Joseph Thomas</a></li>
								<li><a href="/lois-thomas/">Lois Jean (Votruba) Thomas</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="child">
					<div class="label">
						<div class="padded">
							<p>Children</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Erica (Stombaugh) Wade</li>
								<li>Caleb Stombaugh</li>
								<li>David Stombaugh</li>
								<li>Jenna Stombaugh</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="location">
					<div class="label">
						<div class="padded">
							<p>Location</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>St. Louis, Missouri, USA</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# images %>
	<div id="photo-album">
		<div class="container packery">

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/dorothy-hunter/01.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/dorothy-hunter/02.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/dorothy-hunter/03.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/dorothy-hunter/04.jpg">
				</div>
			</div>

		</div>
	</div>

</section>
