---
layout: navigation_layout
---

<section id="content">

	<div class="flex container">
		<div class="col-10 left-1 right-1">

      <div class="padded">
				<img class="extra-top" src="/images/francis-thomas/hans/01.jpg">
			</div>

			<div class="padded">

        <p class="extra-top">
          I only knew him for 10% of his time, but Frank left an oversized impression. I always enjoyed his stories, and prompting conversation by asking about the books currently on his in-reach shelf.
        </p>
        <p>
          I will always be thankful for the influence he had on Shannon, and flattered by the acceptance he offered me.
        </p>
        <p>
          For me, Frank remains a beacon of hope for remaining principled with age. He adroitly blended a life of faith and commitment to reason, in the Jesuit tradition recently exemplified by Pope Francis. This was underpinned by a steadfast focus on social good, which informed his strong political opinions and his desire to understand and improve the conditions of others.
        </p>
        <p>
          In a way that seems too rare in our culture today, Frank found the world fascinating in its entirety. Conversing with him was not to receive a lecture or an interrogation, but to engage in dialogue driven by both his desire to share and an unbounded curiosity.
        </p>
        <h2 class="extra-top extra-bottom">
          The world is poorer for having lost Frank Thomas, but each of us is better for having known him.
        </h2>

			</div>

		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/francis-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
