---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="hero bleed" style="background-image: url('/images/francis-thomas/hero.jpg');">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="padded">
						<h1>Francis Joseph Thomas</h1>
						<h2>August 28, 1924 – June 11, 2016</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-6 right-6">
				<div class="parents">
					<div class="label">
						<div class="padded">
							<p>Parents</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Anna Margaret Rudrof</li>
								<li>Joseph Edward Thomas</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="spouse">
					<div class="label">
						<div class="padded">
							<p>Spouse</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li><a href="/lois-thomas/">Lois Jean (Votruba) Thomas</a></li>
								<li>April 11, 1959</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="children">
					<div class="label">
						<div class="padded">
							<p>Children</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li><a href="/maureen-thomas-murphy/">Maureen Thomas-Murphy</a></li>
								<li><a href="/joan-lame/">Joan Marie Thomas Lame</a></li>
								<li><a href="/barbara-seago/">Barbara (Thomas) Seago</a></li>
								<li><a href="/mary-watkins/">Mary (Thomas) Watkins</a></li>
								<li><a href="/dorothy-hunter/">Dorothy (Thomas) Hunter</a></li>
								<li><a href="/joseph-thomas/">Joseph Thomas</a></li>
								<li><a href="/theresa-goebel/">Theresa (Thomas) Goebel</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 <div id="stories" class="bleed">
	 <div class="flex container">
		 <div class="col-10 left-1 right-1">
			 <div class="padded">
				 <h3 class="centered extra-bottom">What a storyteller you were, and how many wonderful stories you had to tell. Don't worry, we'll keep telling them for you.</h3>
			 </div>
		 </div>
	 </div>

	 <div class="container packery">
		 <div class="col-4 packed">
			 <a href="/francis-thomas/dropping-water.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/francis-thomas/stories/01.jpg" alt="Dropping Water">
						 <p>Getting into trouble at Bellerive Park</p>
					 </div>
				 </div>
			 </a>
		 </div>

		 <div class="col-4 packed">
			 <a href="/francis-thomas/centrifugal-force.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/francis-thomas/stories/02.jpg" alt="Centrifugal Force">
						 <p>The Lessons of Maple Syrup in a Pail</p>
					 </div>
				 </div>
			 </a>
		 </div>

		 <div class="col-4 packed">
			 <a href="/francis-thomas/mobility.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/francis-thomas/stories/03.jpg" alt="Mobility">
						 <p>Frank and His Bicycle</p>
					 </div>
				 </div>
			 </a>
		 </div>
	 </div>
 </div>

	<%# custom content %>
	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<h3 class="centered extra-top extra-bottom">Eulogy</h3>
				<p>Dad once said something along the lines of “My children are all very different, but I love them all the same.”  The seven of us each had our niche in our parents' lives, according to our expertise: accountant, physical therapist, nurse, people with trucks, political junkies--you know who you are and the role you played.  This eulogy is the combined effort of 7 vastly different people to honor the man, Francis Thomas.</p>
				<p>While reflecting on his life and legacy some years ago, dad wrote these words: “…I would like to be remembered as a man who tried to be a good husband, a good father and grandfather, and a person who set a good example. I tried, but often failed, but I hope that the Lord God will be pleased that I tried.”</p>
				<p>With these recountings from our lives with him, we hope to illustrate that he accomplished his goals. We know that many of you have your own stories to add and we invite you all to share those stories with us during lunch after this mass.</p>
				<p>Dad was pure St. Louis, born and raised, lived and died. He was the oldest of four children. His father died early, when our Dad was only 7 years old, during the Great Depression. His mother had to work hard to support her four children, so Dad had a lot of autonomy growing up. At the age of 12, he got a job selling newspapers to help his family financially. That eventually led to his long, steady career as a statistician for the circulation department at the St. Louis Post-Dispatch. He interrupted that career only once to serve in the Army during the Korean War.</p>
				<p>In our various attempts to describe dad, every one of us noted that he loved to tell stories, to sing, to read, he was religious and ethical, not only in thought but in his actions too…….. and we all noted that he loved ice cream.</p>
				<p>Dad liked to tell us stories about his boyhood when the land around the River Des Peres was rural and he travelled the neighborhood streets and dirt paths on his bicycle,  about selling newspapers (it’s not as simple, or safe, as it sounds!), and his life with his mom, brother, sisters and his Aunt Clara.</p>
				<p>He had some great stories and in his own words:  “I have many stories, some of which are true.”</p>
				<p>He told us about demonstrating centrifugal force in his mother’s living room with a maple syrup pail…. and after the handle broke on that pail, and gravity reasserted itself, he and his siblings had to carefully rearrange the furniture to hide evidence of the mishap.</p>
				<p>He once shook hands with the famous Cardinal’s pitcher, Grover Cleveland Alexander, at Langley’s nightclub and always declared his amazement that such a famous man treated him, a boy, with courtesy and respect.</p>
				<p>He was no stranger to law enforcement either, as when, one night he got lost in West County and a dubious police officer escorted him personally to the astronomy class he couldn’t find.</p>
				<p>One of his favorite stories, however, was one portentous night at The Dallas Club when his good friend, the late Walter Evanetich, introduced him to our mother.  He always said she was the first woman with whom he felt he could be himself, and that part of the story usually evoked a lump in his throat and a tear in his eye.</p>
				<p>Of course, <strong>OUR</strong> experience of him begins after he met and married mom.  His devotion to her was clear and constant to his last day.  It is something none of us will forget.</p>
				<p>In his later years, when he was hobbling in a walker, she would ask him to bring her a cup of coffee and he would valiantly attempt to carry the hot cup and maneuver the walker at the same time. Dorothy’s blood pressure skyrocketed racing to avoid catastrophe.</p>
				<p>He was always telling ma that he loved her. He sang to her and quoted poetry to her. He loved to sing—he had a song for everything.  Dorothy fondly remembers them singing "Let Me Call You Sweetheart" to each other as they went to bed.</p>
				<p>With 7 kids at large, the stories that illustrate his talent for fatherhood are too numerous for your patience, so we’ll present just one:</p>
				<p>When Joe was only 5, he became so angry about something (he couldn’t remember what) that he decided to run away from home.  He stormed out of the house and charged up the street at a full run.  After he’d put about half a block between himself and the house, dad gave pursuit,</p>
				<p>..…on a bicycle.</p>
				<p>He managed to calm Joe down—and boy… anyone who knows my brother Joe knows what a feat that must have been.  Dad coaxed him up on the handle bars, did a casual turn around the block as a cooling-off period and nonchalantly returned the fledgling prodigal to the nest.</p>
				<p>Dad loved literature, history, and sports and, when we were young adults, we often played Trivial Pursuit with him at holiday gatherings.  We‘d all try to recruit him so that our team could acquire the yellow, orange, and brown spokes fearlessly!</p>
				<p>He wasn’t particular about his fatherhood either, because he raised his eldest grandchild, Shannon, as his own.  He would pick her up from school each day and demonstrate the ordinary miracles of childhood to her, like the digital clock’s remarkable ability to produce magic numbers!</p>
				<p>3:33, 4:44, 5:55….</p>
				<p>He was a deeply spiritual and ethical man.  He didn’t just follow religious rules; he lived out what he believed in how he treated others.  He gave freely to his church in both time and money and was devoted to Immaculate Heart of Mary to the very end of his abilities.  He lectored and dispensed communion and participated in the Legion of Mary for many years.  He often took communion to the homebound elderly in the parish.</p>
				<p>When we were young, he unhesitatingly opened his house, already swarming with 7 undisciplined rug rats, to his aging relatives. Some might say he was crazy! But nobody could say that charity was just a nice thought to our dad.</p>
				<p>Our father was a special man and he left his mark on many.  Our hope, as his children, is that we can honor him by cherishing in each other the values he exemplified:  honesty, integrity, tolerance, and……a love for ice cream.</p>
				<p class="extra-bottom">And we know there is one thing that all 7 of us will agree on: Dad, we love you and “Well done good and faithful servant!!”</p>
			</div>
		</div>
	</div>

	<%# from us %>
	<div id="our-stories" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<h3>Our Memories</h3>
				</div>
			</div>
			<div class="col-10 left-1 right-1">
				<div class="centered padded">
					<a class="button" href="/francis-thomas/maureen.html">Maureen's memories</a>
					<a class="button" href="/francis-thomas/mary.html">Mary's memories</a>
					<a class="button" href="/francis-thomas/shannon.html">Shannon's memories</a>
					<a class="button" href="/francis-thomas/hans.html">Hans's memories</a>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<!-- <div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded">
				<h3 class="centered extra-top extra-bottom">Obituary</h3>
				<p>Francis Joseph Thomas August 28, 1924 – June 11, 2016 Beloved husband of Lois (Votruba) Thomas; loving father of Maureen Thomas-Murphy (Michael), Joan (Charles) Lame, Barbara (Ronald) Seago, Mary (James) Watkins, Dorothy Hunter, Joseph (Tracy) Thomas, Theresa (Anthony) Goebel; dear grandfather of Shannon, Timothy, Dorothy, Rebekah, Erica, Thomas, Nicholas, Olivia, Anthony, James, Caleb, Eric, Allison, Tyler, David, Bryan, Jenna and Kaitlyn; great grandfather of Stephen, Sloane, Matthias, Christopher, Kolten, Elijah and Paisley; dear brother of Edward (Rose) Thomas, Julie (the late Raymond) Blumberg and the late Margaret (the late Frank) Janku.  Served in Korea in the US Army; retired from the St. Louis Post-Dispatch after 48 years of employment; was a long time parishioner of Immaculate Heart of Mary Catholic church and member of the Legion of Mary.  He was always giving of himself to others and has continued in this by donating his body to Saint Louis University medical school.</p>
			</div>
		</div>
	</div> -->

	<%# photos %>
	<div id="photo-album">
		<div class="container packery">

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/00.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/01.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/02.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/03.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/04.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/05.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/06.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/07.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/08.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/09.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/francis-thomas/10.jpg">
				</div>
			</div>

		</div>
	</div>

</section>
