---
layout: navigation_layout
---

<section id="content">

	<div class="flex container">
		<div class="col-10 left-1 right-1">

			<div class="padded">
				<h1 class="extra-top extra-bottom centered">Mary's Memories</h1>
				<p>When I think of Dad these thoughts come to mind:  A genuine and humble man, honest, hard-working, loving—he continued to express his love to mom even though she couldn’t respond back to him, devoted husband and father, smart—loved history, loved to read, loved poetry and frequently recited it, devoted to God—he was very involved in his church and in the lives of fellow parishioners, funny—he was always telling jokes, storyteller—he had some great stories and always said, “I have many stories some of which were true.” He was a friend to everyone he met and he had a knack for remembering names, content—he never had to have the latest and greatest, he was a simple man who enjoyed people and his simple life, he loved to sing—he had a song for everything. He loved Cardinals baseball, classical music, ice cream and cookies. He was a “classic” and he will be missed. He will always be remembered for his ‘Super Duper” chocolate milk, his love for all, and his cap. He lived a full life and I am thankful that I had such a wonderful Dad.</p>
			</div>
		</div>


		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/francis-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
