---
layout: navigation_layout
---

<section id="content">

	<div class="flex container">
		<div class="col-10 left-1 right-1">

			<div class="padded">
				<h1 class="extra-top extra-bottom centered">Maureen's Story</h1>
				<p>Dad once said something along the lines of "My children are all very different, but I love them all the same."  We each had our niche in our parents' lives, according to our expertise: accountant, physical therapist, nurse, people with trucks, political junkies--you know who you are and the role you played.</p>
				<p>In these last few years, my role was played-out behind the scenes--paying bills, doing tax returns, wrangling the VA, but my favorite connection was food.  Food is a visceral thing--a passion I shared with dad.  To that connection, I tell this tale.</p>
				<p>Once upon a time, in the middle of a typically hot St Louis summer, when mom and dad were still living in their apartment, I described to dad what I had for dinner the night before--a pasta dish with tuna and garlic, parmesan and olives.  He said that it sounded wonderful, so I promised to make it for his upcoming birthday dinner.  So when August 28th rolled around, I fired-up my kitchen, and when all was plated and done, I set-out with my family and food in tow to their apartment.  As a side to the pasta, I made a caprese salad of tomatoes, basil, and fresh mozzarella—it being summer when the tomatoes and basil grow fresh and wonderful.</p>
				<p class="extra-bottom">Dad immediately zeroed in on the tomatoes, helping himself to several slices.  When I offered him the pasta.........he declined. </p>
				<p class="extra-top">Actually, it was more than –‘declined’- .</p>
				<h2 class="extra-top extra-bottom">It was more like he was momentarily annoyed that I was interrupting his campaign to eliminate every tomato on the plate.</h2>
				<p>I’m sure most of you are aware that I do not always handle these kinds of situations in the most diplomatic or magnanimous way, especially after dedicating an afternoon over a hot stove to make something special for someone, and I’m sure my disapproval was apparent.</p>
				<p>That is.....apparent to all but dad.....</p>
				<p>...who was off in his own private paradise, joyously spooning-up the sumptuous red juice of our fertile summers.</p>
				<p>He just ploughed-on, oblivious to my consternation, eating tomatoes, </p>
				<p class="extra-top">.....requesting more!</p>
				<h2 class="extra-top extra-bottom">without that nuisance cheese!</h2>
				<p>I was mad as hell.</p>
				<p class="extra-top">But now that I must look back, these are the moments I cherish, the ones that even with a little pain or awkwardness, reveal the simple unfiltered essence of the man.</p>
				<p>Morals of the story are supposed to be high-minded things like:  my dad was a pious man, my dad was an ethical man...</p>
				<p>But the moral of MY story is that, he was a man who loved.......tomatoes.</p>
			</div>
		</div>


		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/francis-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
