---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/jim-watkins/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Jim Watkins</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="relationships" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="padded">
					<p>Husband of <a href="mary-watkins">Mary</a>.</p>
					<p>Father of <a href="dorothy-watkins">Dotti</a>, <a href="rebekah-watkins">Rebekah</a>, <a href="james-watkins">James</a>, <a href="allison-watkins">Allison</a>, and <a href="bryan-watkins">Bryan</a>.</p>
					<p>Son-in-law of <a href="frank-thomas">Frank</a> and <a href="lois-thomas">Lois</a>.
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">

	</div>

</section>
