---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/erica-wade/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Erica Wade</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="relationships" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="padded">
					<p>Wife of <a href="daniel-wade">Daniel</a>.</p>
					<p>Daughter of <a href="dorothy-hunter">Dorothy</a> and Wayne.</p>
					<p>Mother of <a href="matthias-wade">Matthias</a> and <a href="elijah wade">Elijah</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">

	</div>

</section>
