---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="hero bleed" style="background-image: url('/images/jenna-stombaugh/hero.jpg');">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Jenna Stombaugh</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-8 left-2 right-2">
				<div class="centered padded">
					<p>Daughter of <a href="dorothy-hunter">Dorothy</a> and Wayne.</p>
				</div>
			</div>
		</div>
	</div>

	<%# custom content %>
	<div class="flex container">

	</div>

</section>
