---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/charles-lame/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-12">
					<div class="padded">
						<h1>Charles Christopher Lame</h1>
						<p>October 20, 1957</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="profile" class="bleed">
		<div class="flex container">
			<div class="col-6">
				<div class="parents">
					<div class="label">
						<div class="padded">
							<p>Parents</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Milburn Leroy Lame</li>
								<li>Bridget (Morrissey) Lame</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="spouse">
					<div class="label">
						<div class="padded">
							<p>Spouse</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Joan Marie Thomas Lame</li>
								<li>June 1, 2002</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="child">
					<div class="label">
						<div class="padded">
							<p>Child</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Shannon Elizabeth Thomas</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="location">
					<div class="label">
						<div class="padded">
							<p>Location</p>
						</div>
					</div>
					<div class="data">
						<div class="padded">
							<ul>
								<li>Edwardsville, Illinois, USA</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# images %>
	<div id="photo-album">
		<div class="container packery">

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/charles-lame/01.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/charles-lame/02.jpg">
				</div>
			</div>

			<div class="col-4 packed">
				<div class="card">
					<img src="/images/charles-lame/03.jpg">
				</div>
			</div>

		</div>
	</div>

</section>
