---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>

	<div class="flex container">
		<div class="col-4 left-4 right-4">
			<div class="padded">
				<img class="extra-top" src="/images/frank-thomas/stories/02.jpg" alt="Centrifugal Force">
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded centered extra-bottom">
				<h3>The Lessons of Maple Syrup in a Pail</h3>
				<p>Story recounted by Charlie</p>
			</div>

			<div class="padded">
				<p>Frank was the eldest of four children, and from what I could gather they were close and for some time when he was a boy they all lived with his aunt and his mother. It seems that when Frank would learn a thing that he found interesting he would, on occasion, share that with his siblings. It also seems that at some point Frank's schooling introduced him to centrifugal force. Like most of us, he was pretty excited upon learning that this was not just something that happened now and then; the observed effect of whirling a thing in an arc happened every time and could in fact counter gravity. Put some small object in an open bag and swing the bag quickly over your head, the objects don't fall out of the bag, happens every time, doesn't even matter what the objects are. You can even do it with a glass of water if you can figure out how to swing it.</p>
				<p>Needless to say, this discovery needed to be spread to the others. And, of course, a demonstration was required. So the story goes that Frank had revealed this principal and, for demonstration purposes, had found a convenient can of maple syrup complete with handle. Frank's objective was to swing the lidless pail overhead without spilling the syrup thereby demonstrating the confidence all could have in this phenomenon. And of course there could be no better reinforcement of this demonstration than to show the complete safely of doing this sort of thing any where, say the living room. So, a few exuberant swings and laughs later centrifugal force being greater than gravity was presumably pretty well understood.</p>
				<p>Unfortunately, according to Frank, things went awry sometime into the demonstration due to a mechanical failure in the pail. The handle came off during a swing and a more complete perspective on centrifugal force was revealed when the now unconstrained pail stopped following the arc and followed a bounding path across the living room floor.</p>
				<p>Of course there was great distress since it was immediately realized that the adults were not so likely to be impressed by a new knowledge of centrifugal force. The siblings fell to at cleaning the floor, but they were novices and the magnitude of the problem near one wall was not to be overcome. How to deal with this misfortune? Well, the sturdy children realized a small adjustment of the couch would prevent the problem from being discovered. And so the move was made.</p>
				<p>This is pretty much the story as gotten from Frank, and we were never really able to get more about how, when, and what might have occurred when and if the results were discovered. Interestingly, I think that's probably because that part of the story would have been meaningless to him. I think he thought the important part was that all the kids wanted to show each other fun and interesting things and that they all worked together to deal with a problem. Maybe it worked out OK with the adults and maybe not so much. We don't know that part; he only told us the really good parts.</p>
			</div>
		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/frank-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
