---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>

	<div class="flex container">
		<div class="col-4 left-4 right-4">
			<div class="padded">
				<img class="extra-top" src="/images/frank-thomas/stories/02.jpg" alt="Centrifugal Force">
			</div>
		</div>
		<div class="col-8 left-2 right-2">
			<div class="padded centered extra-bottom">
				<p>Story recounted by Charlie</p>
			</div>

			<div class="padded">
				<p></p>
			</div>
		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/frank-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
