---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>

	<div class="flex container">
		<div class="col-4 left-4 right-4">
			<div class="padded">
				<img class="extra-top" src="/images/frank-thomas/stories/01.jpg" alt="Centrifugal Force">
			</div>
		</div>

		<div class="col-8 left-2 right-2">
			<div class="padded centered extra-bottom">
				<p>Story told by Frank Thomas</p>
			</div>
			<div class="padded extra-vertical">
				<video class="full-video" src="/images/frank-thomas/dropping-water.mp4" controls>
			</div>

			<div class="padded">
				<p>One time we went down to Bellerive Park.</p>
				<p>This one night we get this bright idea. We went to a drinking fountain and got some paper cups and filled them with water, and we go over to where the bridge went over Broadway, and we try to drop these containers of water on passing cars.</p>
				<p>Well one night, we hit the jackpot. This guy in a Cadillac (convertible) and he had a woman in there, and they were both pretty well dressed. And we made a direct hit on them.</p>
				<p>The guy came after us!</p>
				<p>He never did catch us because we went through alleys and things where his car wouldn't go.</p>
				<p>I'll bet he was mad. I wouldn't blame him. I would be mad too!</p>
			</div>
		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/frank-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
