---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>
	<div class="bleed" style="background-image: url('/images/frank-thomas/hero.jpg'); height: 600px;">
		<div class="overlay">
			<div class="flex container preview">
				<div class="col-8">
					<div class="centered padded">
						<h1>Francis Joseph Thomas</h1>
						<h2>August 28, 1924 – June 11, 2016</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# make this smart %>
	<div id="relationships" class="bleed">
		<div class="flex container">
			<div class="col-10 left-1 right-1">
				<div class="centered padded">
					<p>Husband of <a href="lois-thomas">Lois</a>. Father of <a href="maureen-thomas-murphy">Maureen</a>, <a href="joan-lame">Joan</a>, <a href="barbara-seago">Barb</a>, <a href="mary-watkins">Mary</a>, <a href="dorothy-hunter">Dorothy</a>, <a href="joe-thomas">Joe</a>, and <a href="theresa-goebel">Theresa</a>.</p>
				</div>
			</div>
		</div>
	</div>

 <div id="stories" class="bleed">

	 <div class="flex container">
		 <div class="col-10 left-1 right-1">
			 <div class="padded extra-bottom">
				 <h3 class="centered">What a storyteller you were, and how many wonderful stories you had to tell. Don't worry, we'll keep telling them for you.</h3>
			 </div>
		 </div>
	 </div>

	 <div class="container packery">
		 <div class="col-4 packed">
			 <a href="dropping-water.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/frank-thomas/stories/01.jpg" alt="Dropping Water">
						 <p>Getting into trouble at Bellerive Park</p>
					 </div>
				 </div>
			 </a>
		 </div>

		 <div class="col-4 packed">
			 <a href="dropping-water.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/frank-thomas/stories/02.jpg" alt="Centrifugal Force">
						 <p>Demonstrating centrifugal force</p>
					 </div>
				 </div>
			 </a>
		 </div>

		 <div class="col-4 packed">
			 <a href="dropping-water.html">
				 <div class="card">
					 <div class="padded">
						 <img src="/images/frank-thomas/stories/03.jpg" alt="Mobility">
						 <p>Getting around with his bicycle</p>
					 </div>
				 </div>
			 </a>
		 </div>
	 </div>
 </div>

	<%# custom content %>
	<div class="flex container">

		<div class="col-8 right-2 left-2">
			<div class="padded">
				<img src="/images/frank-thomas/01.jpg" alt="The Thomas Clan">
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="padded extra-vertical">
				<p>Francis Joseph Thomas August 28, 1924 – June 11, 2016 Beloved husband of Lois (Votruba) Thomas; loving father of Maureen Thomas-Murphy (Michael), Joan (Charles) Lame, Barbara (Ronald) Seago, Mary (James) Watkins, Dorothy Hunter, Joseph (Tracy) Thomas, Theresa (Anthony) Goebel; dear grandfather of Shannon, Timothy, Dorothy, Rebekah, Erica, Thomas, Nicholas, Olivia, Anthony, James, Caleb, Eric, Allison, Tyler, David, Bryan, Jenna and Kaitlyn; great grandfather of Stephen, Sloane, Matthias, Christopher, Kolten, Elijah and Paisley; dear brother of Edward (Rose) Thomas, Julie (the late Raymond) Blumberg and the late Margaret (the late Frank) Janku.  Served in Korea in the US Army; retired from the St. Louis Post-Dispatch after 48 years of employment; was a long time parishioner of Immaculate Heart of Mary Catholic church and member of the Legion of Mary.  He was always giving of himself to others and has continued in this by donating his body to Saint Louis University medical school.</p>
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-8 right-2 left-2">
			<div class="padded">
				<img src="/images/frank-thomas/02.jpg" alt="The Thomas Clan">
			</div>
		</div>
	</div>

	<div class="flex container">
		<div class="col-8 left-2 right-2">
			<div class="centered padded">
				<a class="button" href="frank-thomas/joan.html">Joan's stories</a>
					<a class="button" href="frank-thomas/shannon.html">Shannon's stories</a>
			</div>
		</div>
	</div>


</section>
