---
layout: navigation_layout
---

<section id="content">

	<%# introduction %>

	<div class="flex container">

		<div class="col-4 left-4 right-4">
			<div class="padded">
				<img class="extra-top" src="/images/frank-thomas/stories/03.jpg" alt="Centrifugal Force">
			</div>
		</div>

		<div class="col-8 left-2 right-2">
			<div class="padded centered extra-bottom">
				<p>Story told by Frank Thomas</p>
			</div>
			<div class="padded extra-vertical">
				<video class="full-video" src="/images/frank-thomas/mobility.mp4" controls>
			</div>

			<div class="padded">
				<p>When I was a kid, there was a street over on South Broadway, called Davis Street. And there used to be a Davis Street Ferry. And we'd get on our bicycles and ride down to the dock and get on this ferry, which took us over to Illinois.</p>
				<p>Then we'd get over there and we'd roast hot dogs and potatoes and stuff like that.</p>
				<p>And we'd come back at night, and then at nighttime, this ferry boat would have this huge search light. Make sure they knew where they were going.</p>
				<p>We used to enjoy doing that.</p>
				<p>You know, kids nowadays seem like they're more restricted in what they can do.</p>
				<p>About 99 out of 100 times, my mother never knew where I was.</p>
				<p>Once I got mobile with a bicycle, we went everywhere.</p>
			</div>
		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/frank-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
