---
layout: navigation_layout
---

<section id="content">

	<div class="flex container">
		<div class="col-10 left-1 right-1">

			<div class="padded">
				<img class="extra-top" src="/images/frank-thomas/shannon/01.jpg">
			</div>

			<div class="padded">
				<h2 class="extra-bottom extra-top">This is how one of the saddest days of my life began.</h2>
				<p>It was the first night in our new Amsterdam home, and there was little sleep to be had. It was sticky-hot, there was some middle-of-the-night drama across the street – some yelling and many police; and the cat was getting used to a new bed with new pillows. Not quite awake and not nearly rested, I checked my phone to see the time and saw instead only this series of messages. How does iOS work again? With a desparate combination of swipes and taps, I was able to get through to my mom.</p>
				<p class="extra-bottom">My Pawpaw was still alive, rattling with every long, slow breath. Number One Grandpa, I will remember this as the last time I saw you, but this is not how I choose to remember you.</p>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/02.jpg">
			</div>

			<div class="padded">
				<h2 class="extra-bottom extra-top">When I was a kid, you treated me like an adult. When I behaved like a child, you lost your patience. That's alright though, this is one of many things we have in common.</h2>
				<p>I used to spend so much time at your house. We'd watch Jeopardy every day, always celebrating the Daily Double. We'd play Monopoly, and if I was the banker and winning, you'd call me crooked. You taught me to play poker, but only with the red, blue, and white plastic chips.</p>
				<p class="extra-bottom">Remember when we were climbing on the white pipe sculpture at Laumeier and I fell onto my back? I suppose that's one reason they ask people not to climb on the art, but it just looked so climbable, didn't it? I had the wind knocked out of me and couldn't speak, and you were terrified.</p>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/03.jpg">
			</div>

			<div class="padded">
				<p class="extra-top">There are so many smells I associate with you. Old books whose pages, when flipped, give off a rustic vanilla smell. The smell of the Louis Street basement, where you had your big wooden desk with the glass top. And thunderstorms. I don't see those so much in Amsterdam… We'd sit on the porch, smelling the rain, listening to the thunder, and barely staying dry.</p>
				<p>And 1993, when there were too many storms and the rivers all swelled. You were picking me up from school then, driving the maroon Toyota Carolla, and you had to present a flood pass to drive onto Louis Street.</p>
				<p>Those drives are so full of memories. We used to test ourselves on state capitals, and would always confuse North and South Dakota. It's Bismark and Pierre respectively, but I still needed Google to confirm.</p>
				<p class="extra-bottom">Then we'd burst in the door, and Memaw would be in the kitchen. You'd exclaim, "What's for sup, pup?" You loved pestering the Memaw, your silver-haired princess.</p>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/04.jpg">
			</div>

			<div class="padded">
				<h2 class="extra-bottom extra-top">You introduced me to art and poetry, and were always so proud of me.</h2>
				<p>One night, while you were watching the St. Louis Blues play hockey, I drew the blue note from their uniform. Even after many art shows and after I was a world-travelling designer, you kept that little crayon drawing. Every super hero needs an origin story.</p>
				<p>Once I drew you a "beautiful singing bird" sign. Partly because it was true, and partly to annoy the Memaw. You hung it on your bedroom door with pride.</p>
				<p class="extra-bottom">You collected my masterpieces and hung them proudly. The Clever School Girl and Rapunzel will be lost without you.</p>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/05.jpg">
			</div>

			<div class="padded">
				<p class="extra-top">When I was in my early twenties, we'd have breakfast every other Saturday. We'd eat breakfast and then talk for a few hours, working up our appetites for some ice cream. You tought me well – I still have ice cream every night.</p>
				<p>You were a lover of history, and it grounded you. You approached everyone and everything with an open mind, and I could have conversations with you that my friends couldn't have with their own parents.</p>
				<h2 class="extra-top extra-bottom">And of course there were the stories. So. Many. Stories. I love the story about <a href="/frank-thomas/dropping-water.html">dropping the cup of water onto the convertable</a>.</h2>
				<p class="extra-bottom">Pawpaw and Hans were birds of a feather. One year for Christmas, Frank bought berets for himself and Hans. He found an ad for a haberdashery in Oregon and called to make the order: two berets, one red and one black. Hans has the red one. </p>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/06.jpg">
			</div>

			<div class="padded">
				<p class="extra-top">My Pawpaw died nearly twelve hours after that initial frantic FaceTime. I was at IKEA, documenting for Instagram a plate of vegetarian meatballs. They were tasty little balls of veggie mash, served with tzaziki, which seems a touch gourmet for IKEA. It's funny how the mind defends itself by focusing on such mundane things.</p>
				<p>We went as quickly as possible through the rest of our shopping. My autopilot guided me through the furniture vignettes, my dazed confusion picked out the wrong duvet. More mundanity.</p>
				<p>And then it sunk in. Somewhere in following days' emails and FaceTimes and messages and Skypes, it hit. Again and again and again.</p>
				<p>Dear Pawpaw, I have a timelapse of you in my mind – a timelapse that started when I still lived with you in the house on Louis Street; a timelapse that extends through all of those rides to and from school; and a timelapse that ends in a series of short visits to St. Louis from Seattle and Amsterdam.</p>
				<h2 class="extra-top extra-bottom">I know that I'm finished adding frames to this series of memories, but I'm still not quite sure what that means.</h2>
			</div>

			<div class="padded">
				<img src="/images/frank-thomas/shannon/07.jpg">
			</div>
		</div>

		<div class="col-4 left-4 right-4">
			<div class="padded centered">
				<a class="button" href="/frank-thomas/">Back to Frank</a>
			</div>
		</div>
	</div>
</section>
